@model List<ProEvoCanary.Models.EventModel>

<div class="panel">
    @foreach (var item in Model)
    {
        <ul>
            <li>Event Name: <a href="@Url.Action("Details","Event",new{id =@item.EventId})">@item.Name</a></li>
            <li>Date: @item.Date</li>
            <li>Event Host: @item.Name</li>
        </ul>
    }
</div>