@model List<ProEvoCanary.Models.RssFeedModel>

<ul class="small-block-grid-1">
    @foreach (var item in Model.Take(5))
    {

        <li>
            <p> <img src="@item.ImageUrl" alt="" width="144" height="81" /></p>

            <p> <a href="@item.LinkUrl">@item.LinkTitle</a></p>

            <p> @item.LinkDescription</p>
            <hr/>
        </li>


    }
</ul>