@font-face {
    font-family: robotoblack;
    src: url(/css/Roboto-MediumItalic.ttf);
}

body {
    font-family: robotoblack, Arial;
    background-color: #000;
    background-image: url(../Images/Emirates_Stadium_Logo_Arsenal.JPG);
    background-repeat: repeat;
    margin: 0;
    padding: 0;
    color: #fff;
}

h1 {
    color: #fff;
    font-size: 3em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    padding: 0;
}



a:link, a:visited {
    text-decoration: none;
    color: #fff;
}


a:hover {
    text-decoration: underline;
}

button {
    height: 30px;
    width: 100px;
    background-color: #e74c3c;
    border: 1px solid #e74c3c;
    -ms-border-radius: 5px;
    border-radius: 5px;
}

.background {
    width: 100%;
    text-align: center;
}

header {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 41px;
}

.LoginBanner {
    background-color: #e74c3c;
    height: 54px;
    width: 100%;
    vertical-align: bottom;
    margin-bottom: 23px;
}


.block {
    width: 20%;
    background-repeat: no-repeat;
    display: inline-block;
    background-color: #e74c3c;
    -ms-border-radius: 10px;
    border-radius: 10px;
    margin-right: 15px;
    margin-bottom: 20px;
}

.News, .Results {
    width: 48%;
}


.EventsTable {
    position: relative;
}

.Profile {
    background-color: #c0392b;
    height: 307px;
    width: 500px;
    position: relative;
    left: 28%;
    top: 65px;
    font-size: 8pt;
    background-repeat: no-repeat;
}


ul.menu {
    background-color: #e74c3c;
    height: 54px;
    margin-top: 5px;
    margin-bottom: 20px;
}

    ul.menu li {
        float: left;
        list-style: none;
        margin-right: 10px;
        color: #fff;
    }


.LoginBannerItem {
    left: 10px;
    position: relative;
    top: 17px;
    vertical-align: middle;
}
