@model ProEvoCanary.Models.AddEventModel
@{
    ViewBag.Title = "Create Event";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mdl-cell mdl-cell--12-col">
    <div class="mdl-cell">
        <h1><small>Add Event</small></h1>
    </div>
    <form action="@Url.Action("Create","Event")" method="POST">
        <div class="mdl-cell">
            @Html.TextBoxFor(model => model.TournamentName, new { placeholder = "Enter Tournament name", required = "required", @class = "mdl-textfield__input" })
        </div>
        <div class="mdl-cell">

            @Html.TextBoxFor(model => model.Date, new { placeholder = "Enter the Tournament Date", required = "required", type = "date", @class = "mdl-textfield__input" })
        </div>
        <div class="mdl-cell">
            <label>
                Tournament Type
                @Html.EnumDropDownListFor(model => model.EventType, "Please Select", new { required = "required", value = "" })
            </label>
        </div>
        <div class="mdl-cell">
            <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                Create
            </button>
        </div>
    </form>
</div>
