@model ProEvoCanary.Models.EventModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    
    @foreach (var item in Model.Results)
    {
        <span>@item.AwayTeam</span>
    }