@model ProEvoCanary.Models.EventModel
@{
    ViewBag.Title = "GeneratedFixtures";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GeneratedFixtures</h2>

@if (Model.FixturesGenerated || Model.Completed)
{
    <h2>
        The Fixtures have already been generated. Please go to the event:
        <a href="@Url.Action("Details", "Event", new {@Id = Model.EventId})">@Model.EventName</a>
    </h2>
}
else
{
    <select multiple="multiple">
        @foreach (var user in Model.Users)
        {
            <option value="@user.PlayerId">@user.PlayerName</option>
        }
    </select>
}