@model ProEvoCanary.Models.LoginModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<h1 class="text-center"><small>Add User</small></h1>



@using (Html.BeginForm("Create", "Authentication", FormMethod.Post))
{
    <div class="row">
        <div class="large-12 columns">
            <label>
                Username
                @Html.TextBoxFor(model => model.Username, new { placeholder = "Enter your username" })
            </label>
        </div>
        <div class="large-12 columns">
            <label>
                Forename
                @Html.TextBoxFor(model => model.Forename, new { placeholder = "Enter your Forename" })
            </label>
        </div>
        <div class="large-12 columns">
            <label>
                Surname
                @Html.TextBoxFor(model => model.Surname, new { placeholder = "Enter your Surname" })
            </label>
        </div>
    
        <div class="large-12 columns">
   
            <button type="submit">Create User</button>
        </div>
    </div>

}


