
<div class="pure-menu pure-menu-horizontal header">
    
    <ul class="level">
        <li class="level-item has-text-centered"><a href="#" class="link is-info"><strong>Pro Evo League</strong></a></li>
        <li class="level-item has-text-centered"><a href="@Url.Action("Create", "Authentication")" class="link is-info">Add User</a></li>
        <li class="level-item has-text-centered"><a href="@Url.Action("Create", "Event")" class="link is-info">Create Event</a></li>
        <li class="level-item has-text-centered"> <a href="@Url.Action("HeadToHead", "Records")" class="link is-info">Records</a></li>
    </ul>
</div>