
<div class="pure-menu pure-menu-horizontal header">
    <a href="#" class="pure-menu-heading pure-menu-link">Pro Evo League</a>
    <ul class="pure-menu-list">
        <li class="pure-menu-item"><a href="@Url.Action("Create", "Authentication")" class="pure-menu-link">Add User</a></li>
        <li class="pure-menu-item"><a href="@Url.Action("Create", "Event")" class="pure-menu-link">Create Event</a></li>
        <li class="pure-menu-item"> <a href="@Url.Action("HeadToHead", "Records")" class="pure-menu-link">Records</a></li>
    </ul>
</div>