@using ProEvoCanary.Web.Models
@model ProEvoCanary.Web.Models.AddEventModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewBag.Title = "Create Event";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Add Event</h2>

@using (Html.BeginForm("Create", "Event", FormMethod.Post))
{
    <div class="row">
        <div class="input-field col s12 m6">
            <label asp-for="TournamentName"></label>
            <input type="text" asp-for="TournamentName" placeholder="Enter tournament name" required="required"/>
        </div>
        <div class="input-field col s12 m6">
            <label asp-for="Date"></label>
            <input id="Date" name="Date" type="date" class="datepicker" required placeholder="Enter the Tournament Date" value="@DateTime.Now.ToString("yyyy-MM-dd")"/>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12 m6">
            <select asp-for="TournamentType" asp-items="Html.GetEnumSelectList<TournamentType>()">
            </select>
            <label asp-for="TournamentType"></label>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s12">
            <button class="btn waves-effect waves-light" type="submit" name="action">
                Submit
            </button>
        </div>
    </div>
}
