@model List<ProEvoCanary.Web.Models.RssFeedModel>

@foreach (var item in Model.Take(5))
{
    <div class="card-panel red lighten-2">
        <img class="activator responsive-img" src="@item.ImageUrl">
        <h5>
            <a class="white-text" href="@item.LinkUrl">@item.LinkTitle</a>
        </h5>
        <p class="white-text">@item.LinkDescription</p>
    </div>
}

