@model ProEvoCanary.Models.HomeModel

<div class="row" data-equalizer>
    <div class="large-4 columns">
        <h2><small>Events</small></h2>
        @Html.Partial("~/Views/Shared/Partials/_Events.cshtml", Model.Events)
    </div>
    <div class="large-4 columns">
        <h2><small>News</small></h2>
        @Html.Partial("~/Views/Shared/Partials/_News.cshtml", Model.News)
    </div>
    <div class="large-4 columns">
        <h2><small>Top Players</small></h2>
        @Html.Partial("~/Views/Shared/Partials/_Players.cshtml", Model.Players)
    </div>
    <div class="large-4 columns">
        <h2><small>Results</small></h2>
        @Html.Partial("~/Views/Shared/Partials/_Results.cshtml", Model.Results)
    </div>
</div>
