@model ProEvoCanary.Models.HomeModel

<div class="row">
    <div class="col s6">
        @if (Model.Events.Count > 0)
        {
            <div class="col s12">
                <h2>Events</h2>
                @Html.Partial("~/Views/Shared/Partials/_Events.cshtml", Model.Events)
            </div>
        }

        @if (Model.Players.Count > 0)
        {
            <div class="col s12">
                <h2>Top Players</h2>
                @Html.Partial("~/Views/Shared/Partials/_Players.cshtml", Model.Players)
            </div>
        }

        @if (Model.Results.Count > 0)
        {
            <div class="col s12">
                <h2>Results</h2>
                @Html.Partial("~/Views/Shared/Partials/_Results.cshtml", Model.Results)
            </div>
        }
    </div>
    <div class="col s4">
        <h2>News</h2>
        @Html.Partial("~/Views/Shared/Partials/_News.cshtml", Model.News)
    </div>
</div>