@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div class="row" data-equalizer>
    <div class="large-4 columns">
        <h2><small>Events</small></h2>
        @Html.ActionLink("Create event", "Create", "Event", null, new { @class = "button" })
    </div>
    <div class="large-4 columns">
        <h2><small>Users</small></h2>
        <a href="#" class="button">Manage Users</a>
    </div>
    <div class="large-4 columns">
        <h2><small>Results</small></h2>
        <a href="#" class="button">Edit Results</a>
    </div>
</div>
