@using System.Web.Optimization

<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pro Evo League</title>

    @Styles.Render("~/bundles/css")

</head>
<body>

    <!-- body content here -->
    @Html.Partial("_Header")

    @RenderBody()
    
    
    @Scripts.Render("~/bundles/scripts")
    <script src="/content/js/vendor/modernizr.js"></script>
    <script src="/content/js/vendor/jquery.js"></script>
    <script src="/content/js/foundation.min.js"></script>
    <script>
    $(document).foundation();
    </script>
</body>
</html>