@using System.Web.Optimization


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    @Styles.Render("~/bundles/css")

</head>
<body>
    

    <h1>PRO EVO LEAGUE</h1>
    @Html.Partial("_Login")

    @RenderBody()
    @Scripts.Render("~/bundles/scripts")
</body>
</html>
