
<ul class="menu">
    <li>
        <a href="/" class="LoginBannerItem">Home</a>
    </li>
    <li>
        <a href="@Url.Action("HeadToHead","Records")" class="LoginBannerItem">Records</a>
    </li>

    <li>

        <span class="LoginBannerItem"> @DateTime.UtcNow.Date.ToShortDateString() </span>
    </li>
</ul>