
<ul class="menu">
    <li>
        <a href="/" class="LoginBannerItem">Home</a>
    </li>
    <li>
        <a href="/" class="LoginBannerItem">Profile</a>
    </li>
    <li>
        <a href="/" class="LoginBannerItem">Events</a>
    </li>
    <li>
        <a href="/" class="LoginBannerItem">Records</a>
    </li>
    <li>
        <a href="/" class="LoginBannerItem">Links</a>
    </li>
    <li>
        <a href="/" class="LoginBannerItem">Contact</a>
    </li>
    <li>
        <a href="/" class="LoginBannerItem">Admin</a>
    </li>
    <li>
        <a href="/" class="LoginBannerItem">Log Out</a>
    </li>
    <li>

        <span class="LoginBannerItem"> @DateTime.UtcNow.Date.ToShortDateString() </span>
    </li>
</ul>