@model ProEvoCanary.Web.Models.CreateUserModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "Authentication", FormMethod.Post))
{
    <div class="row">
        <div class="input-field col s12 m6">
            <label asp-for="Username"></label>
            <input type="text" asp-for="Username" placeholder="Enter your username" autocomplete="off"/>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12 m6">
            <label asp-for="EmailAddress"></label>
            <input type="text" asp-for="EmailAddress" placeholder="Enter your email Address" autocomplete="off"/>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12 m6">
            <label asp-for="Forename"></label>
            <input type="text" asp-for="Forename" placeholder="Enter your Forename" autocomplete="off"/>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12 m6">
            <label asp-for="Surname"></label>
            <input type="text" asp-for="Surname" placeholder="Enter your Surname" autocomplete="off" />

        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <button class="btn waves-effect waves-light" type="submit" name="action">
                Submit
            </button>
        </div>
    </div>

}
